.formdiv{
    display: flex;
    justify-content: space-between;
    width: 60%;
   
   margin-top: 100px;
   margin-left:  200px;
   margin-right: 200px;

}
.inpt{
    width: 85%;
}
.inpt input{
    width: 100%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}
.btndiv{
    width: 10%;
}
.btndiv button{
    width: 100%;
    height: 34px;
    color: #fff;
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
}
.submittitle{
    width: 60%;
    padding-top: 20px;
    margin: 20px 200px;
}
.Topic{
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}

.buttons button{
    margin-right: 10px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 4px ;
}
.btn{
    display: inline-block;
    padding: 6px 12px;

}
.title{
    font-weight: 700;
    font-size: 1.3em;
    word-wrap: break-word;
}
.upvoteCount{
    color: green;
}
.downvoteCount{
    color: red;
}